version: "3"

services:
  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: yourpassword
      MYSQL_DATABASE: recipes
      MYSQL_USER: appuser
      MYSQL_PASSWORD: appuserpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: fastapi-app
    restart: always
    environment:
      DATABASE_URL: mysql+mysqlconnector://appuser:appuserpass@db:3306/recipes
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  db_data:
